<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Zookeeper · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header>
      <section class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
          <a class="navbar-brand" href="/">Zookeeper</a>
          <%= if assigns[:current_user] do %>
            <span class="navbar-text">
              <%= assigns[:current_user].username %>
            </span>
            <a class="nav-link" href="/admin/animals">Panel admina</a>

            <%= link "Wyloguj", to: Routes.session_path(@conn, :delete), method: :delete %>
          <% else %>
            <a class="nav-link" href="/admin/register/new">Admin - rejestracja</a>
            <a class="nav-link" href="/admin/login">Admin - logowanie</a>
          <% end %>
        </nav>
      </section>
    </header>
    <main role="main" class="container">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
